<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.flutter_app">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 计划通知 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <!--  全屏意向通知  -->
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <!--  如果 Android 通知的振动模式将被自定义  -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 重新启动和更新应用程序后保持通知计划 -->
    <receiver android:name="com.dexterous.flutterlocalnotifications.ScheduledNotificationBootReceiver">
        <intent-filter>
            <action android:name="android.intent.action.BOOT_COMPLETED"/>
            <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
        </intent-filter>
    </receiver>
    <!--  开发人员还需要添加以下内容，以便插件可以处理显示计划的通知  -->
    <receiver android:name="com.dexterous.flutterlocalnotifications.ScheduledNotificationReceiver" />
</manifest>
